#monthly-kit {
  display: grid;
  justify-content: center;
  margin-top: 16rem;

  & .month-title {
    & div {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;

      & h2 {
        font: var(--title-sm);
        color: var(--text-title);
      }

      & img {
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    & p {
      font: 400 0.875rem/1.4 var(--ff-base);
      color: var(--text-body);
      text-align: center;
      margin-top: 0.5rem;
    }
  }

  & > div:nth-child(2) {
    margin-top: 2rem;
    margin-inline: auto;

    & .book {
      margin-top: 6rem;
      position: relative;

      & .content-book {
        & .arrow {
          position: absolute;
          width: 3.67rem;
          height: 0.625rem;
          top: -10px;
          left: -45px;
          z-index: -1;
        }

        & .arrow-content {
          top: -40px;
          left: -75px;
          z-index: -1;
        }
      }
      & .main-image {
        position: relative;

        & img {
          width: 10rem;
          height: 14rem;
        }
      }
      & .bookmarks.mobile-only {
        position: relative;

        & .bookmark {
          position: absolute;
          height: 11.25rem;
          width: 3.65rem;
        }

        & .book-yellow {
          z-index: -1;
          left: 139px;
          bottom: 72px;
          rotate: 10deg;
        }
        & .book-purple {
          z-index: -2;
          left: 173px;
          bottom: 36px;
          rotate: 20deg;
        }
        & > div {
          position: relative;
          z-index: -1;

          & .arrow {
            position: absolute;
            height: 3.19rem;
            left: 165px;
            bottom: -5px;
          }
          & .arrow-content {
            position: absolute;
            white-space: nowrap;
            left: 120px;
            bottom: -25px;
          }
        }
      }
      & .pin {
        position: relative;
        z-index: -1;

        & .arrow {
          position: absolute;
          height: 3rem;
          bottom: 52px;
          left: -80px;
          transform: rotate(5deg);
        }

        & img {
          position: absolute;
          height: 5.34rem;
          width: 4.68rem;
          left: -45px;
          bottom: -20px;
        }

        & .arrow-content {
          left: -75px;
          bottom: 107px;
        }
      }
      & .arrow-content {
        display: inline-block;
        position: absolute;
        font: 400 0.625rem/1.4 var(--ff-base);
        color: var(--text-title);
      }
    }
  }
}

@keyframes animationPin {
  80% {
    transform: translate(-6px, 6px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes animationBook {
  70% {
    transform: translateY(-4px) rotate(0.5deg);
    scale: 1.02;
  }
  100% {
    transform: translateY(-8px) rotate(0);
    scale: 1;
  }
}

@keyframes contentBookUp {
  75% {
    scale: 1.02;
  }
  100% {
    scale: 1;
  }
}
@media (width>=80em) {
  #monthly-kit {
    height: 100vh;
    margin-top: 32rem;

    & .month-title {
      & div {
        & img {
          width: 2rem;
          height: 2rem;
        }
      }
      & p {
        font: 400 1rem/1.4 var(--ff-base);
        margin-top: 0.3125rem;
      }
    }
    & > div:nth-child(2) {
      & .book {
        margin-block: 10rem 18.125rem;
        position: relative;

        &:hover {
          & .content-book {
            animation: contentBookUp 400ms forwards ease-in-out;
            & .arrow {
              transform: translate(-180px, -50px);
            }

            & .arrow-content {
              transform: translate(-255px, -80px);
            }
          }
          & .bookmarks.desktop-only {
            animation: animationBook 400ms both ease-in-out;
            z-index: -1;

            & .book-yellow {
              transform: translate(157px, -100px) rotate(10deg);
            }
            & .book-purple {
              transform: translate(214px, -2px) rotate(20deg);
            }
            & > div {
              & .arrow {
                transform: translate(180px, 90px);
              }
              & .arrow-content {
                transform: translate(130px, 120px);
              }
            }
          }
          & .pin {
            animation: animationPin 400ms forwards ease-in;

            & .arrow {
              transform: translate(-220px, 160px);
              scale: 1;
            }
            & img {
              transform: translate(-160px, 130px) rotate(-10deg);
            }
            & .arrow-content {
              transform: translate(-260px, 90px);
            }
          }
        }
        & .content-book {
          & .arrow {
            position: absolute;
            width: 10.938rem;
            height: 1.875rem;
            left: 45px;
            top: 30px;
            transform: rotate(-5deg);
            z-index: -1;
            transition: all 300ms ease-in-out;
          }

          & .arrow-content {
            left: 50px;
            top: 20px;
            z-index: -1;
            transition: all 300ms ease-in-out;
          }
        }
        & .main-image {
          position: relative;

          & img {
            width: 29.1875rem;
            height: 38.5625rem;
          }
        }
        & .bookmarks.desktop-only {
          position: relative;

          & .bookmark {
            position: absolute;
            height: 33.5rem;
            width: 10.75rem;
          }

          & .book-yellow {
            left: 252px;
            bottom: 70px;
            z-index: -1;
            transition: all 300ms ease-in-out;
          }
          & .book-purple {
            left: 302px;
            bottom: 80px;
            transition: all 300ms ease-in-out;
            z-index: -2;
          }
          & > div {
            position: relative;
            z-index: -1;
            & .arrow {
              position: absolute;
              height: 9.5rem;
              bottom: 50px;
              left: 300px;
              transition: all 300ms ease-in-out;
            }

            & .arrow-content {
              bottom: 40px;
              right: 20px;
              transition: all 300ms ease-in-out;
            }
          }
        }

        & .pin {
          position: relative;
          z-index: -1;

          & .arrow {
            position: absolute;
            height: 8rem;
            bottom: 270px;
            left: -30px;
            transform: rotate(5deg);
            scale: 0.6;
            transition: all 300ms ease-in-out;
          }

          & img {
            position: absolute;
            height: 15.875rem;
            width: 13.875rem;
            left: 23px;
            bottom: 40px;
            transition: all 300ms ease-in-out;
          }

          & .arrow-content {
            left: 50px;
            bottom: 350px;
            transition: all 300ms ease-in-out;
          }
        }
        & .arrow-content {
          font: 400 1rem/1.4 var(--ff-base);
        }
      }
    }
  }
}

@media (width>=80em) and (height<=50rem) {
  #monthly-kit {
    & > div:nth-child(2) {
      margin-top: 0rem;

      & .book {
        position: relative;

        &:hover {
          & .content-book {
            animation: contentBookUp 400ms forwards ease-in-out;
            & .arrow {
              transform: translate(-160px, -50px);
            }

            & .arrow-content {
              transform: translate(-215px, -80px);
            }
          }
          & .bookmarks.desktop-only {
            animation: animationBook 400ms both ease-in-out;
            z-index: -1;

            & .book-yellow {
              transform: translate(100px, -70px) rotate(12deg);
            }
            & .book-purple {
              transform: translate(195px, 10px) rotate(22deg);
            }
            & > div {
              & .arrow {
                transform: translate(190px, 62px);
              }
              & .arrow-content {
                transform: translate(170px, 110px);
              }
            }
          }
          & .pin {
            animation: animationPin 400ms forwards ease-in;

            & .arrow {
              transform: translate(-185px, 175px);
              scale: 1;
            }
            & img {
              transform: translate(-145px, 120px) rotate(-10deg);
            }
            & .arrow-content {
              transform: translate(-225px, 120px);
            }
          }
        }
        & .content-book {
          & .arrow {
            position: absolute;
            width: 9.5rem;
            height: 1.5rem;
            left: 45px;
            top: 30px;
            transform: rotate(-5deg);
            z-index: -1;
            transition: all 300ms ease-in-out;
          }

          & .arrow-content {
            left: 50px;
            top: 20px;
            z-index: -1;
            transition: all 300ms ease-in-out;
          }
        }
        & .main-image {
          position: relative;

          & img {
            width: 22rem;
            height: 30rem;
          }
        }
        & .bookmarks.desktop-only {
          position: relative;

          & .bookmark {
            position: absolute;
            height: 28rem;
            width: 10rem;
          }

          & .book-yellow {
            left: 200px;
            bottom: 35px;
            z-index: -1;
            transition: all 300ms ease-in-out;
          }
          & .book-purple {
            left: 200px;
            bottom: 35px;
            transition: all 300ms ease-in-out;
            z-index: -2;
          }
          & > div {
            position: relative;
            z-index: -1;
            & .arrow {
              position: absolute;
              height: 5rem;
              bottom: 30px;
              left: 220px;
              transition: all 300ms ease-in-out;
            }

            & .arrow-content {
              bottom:40px;
              transition: all 300ms ease-in-out;
            }
          }
        }

        & .pin {
          position: relative;
          z-index: -1;

          & .arrow {
            position: absolute;
            height: 7rem;
            bottom: 270px;
            left: -30px;
            transform: rotate(5deg);
            scale: 0.6;
            transition: all 300ms ease-in-out;
          }

          & img {
            position: absolute;
            height: 14rem;
            width: 12rem;
            left: 23px;
            bottom: 40px;
            transition: all 300ms ease-in-out;
          }

          & .arrow-content {
            left: 50px;
            bottom: 350px;
            transition: all 300ms ease-in-out;
          }
        }
        & .arrow-content {
          font: 400 0.875rem/1.4 var(--ff-base);
        }
      }
    }
  }
}
